p {
    font-size: 22pt;
    color: red;
}

#gruby_rola {
    font-size: 17pt;
    color: green;
    font-weight: bold;
}

#dlawszystkich_rola {
    font-size: 10pt;
    color: yellow;
    font-family: 'Arial', sans-serif;
}